.main-content{
    margin-top: 300px;
}
.navbar{
    display: block;
}
button{
    margin-top: 20px;
    border:none;
}
#name-display{
    background-color: black;
    color: whitesmoke;
    display: none;
    margin-top:400px;
}
#final-name{
    
}